@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Basics</h2>
        <ul>
            <li><a href="~/Html/Basic.html" target="_blank">Directives</a>
            <li><a href="~/Html/Expressions.html" target="_blank">Expressions</a>
            <li><a href="~/Html/Module.html" target="_blank">Module</a>
</ul>
    </div>
    <div class="col-md-3">
        <h2>Level 2</h2>
        <ul>
            <li><a href="~/Html/ApplicationStatus.html">ng-Model</a></li>
            <li><a href="~/Html/Controllers.html">ng-Controllers</a></li>
            <li><a href="~/Html/Scope.html">$scope</a></li>
            <li><a href="~/Html/Filters.html">Filters</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Level 3</h2>
        <ul>
            <li><a href="~/Html/services.html">Services</a></li>
            <li><a href="~/Html/AngularHttp.html">Angular Http</a></li>
            <li><a href="~/Html/Tables.html">Tables</a></li>
            <li><a href="~/Html/Select.html">Select</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Level 4</h2>
        <ul>
            <li>SQL</li>
            <li><a href="~/Html/Validation.html">Validation</a></li>
            <li><a href="~/Html/AngularAPI.html">Angular API</a></li>
            <li><a href="~/Html/Includes.html">Includes</a></li>
            <li><a href="~/Html/Animations.html">Animations</a></li>
            <li><a href="~/Html/Routing.html">Routing</a></li>
        </ul>
    </div>
</div>
